body {
  /*background-color: rgb(239, 239, 239);*/
  font-family: 'Rubik', sans-serif;
}

.wrapper-featured {
  background-color: rgb(248, 248, 248);
}

.nav-bg {
    background-color:#f8f9fa!important;

}

.nav-link {
  font-size: 1.125rem !important;
  font-weight: 700;
}

.nav {
  height:240px !important;
  min-height: 10vh !important;
}


.font-blue {
  color:#149dcc;
}

.font-white {
  color:#fff;
}

.btn-blue {
  background-color: #149dcc;
  border-color: #149dcc;
  color: #ffffff;
  border-radius: 100px;
  padding: 1rem 3rem;
}

.btn-white {
  background-color: #fff;
  border-color: #fff;
  color: #149dcc;
  border-radius: 100px;
  padding: .5rem 3rem;
}


.logo-ftop {
  position:absolute;
  top:0px;
}





.bullet-remove {
  list-style-type: none !important;
}
ul{
  list-style-type: none;
 }
 li {
  list-style-type : none;
}









.bread-wrapper {
border-bottom:dashed 1px #f1f1f1;
}

.card {
    border-radius:0px;
    border:0px;
}

.careertip_h {
    display: flex;

}

.bdr {
  border-right:solid 1px #f1f1f1;
}

.navbar {
  padding: 0px !important;
  margin: 0px !important;
}

nav {

  min-height: 8vh !important;
}

.font-title {

  font-family: 'Rubik', sans-serif;
    font-weight: 700;
    font-size: 4rem;
}

.font-article-title {

  font-family: 'Rubik', sans-serif;
    font-size: 3rem;
}

.font-article-content-title {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
}



.navbar-wrapper {
  border-bottom:3px solid #015998;
}


#myCarousel .carousel-item .mask {
    position: absolute;
    top: 0;
 left:10px;
  height:100%;
    width: 100%;
    background-attachment: fixed;
}
#myCarousel h4{
  font-size:50px;
  margin-bottom:15px;
  color:#FFF;
  line-height:100%;
  letter-spacing:0.5px;
  font-weight:600;
}
#myCarousel p{
  font-size:18px;
  margin-bottom:15px;
  color:#d5d5d5;
}
#myCarousel .carousel-item a{background:#F47735; font-size:14px; color:#FFF; padding:13px 32px; display:inline-block; }
#myCarousel .carousel-item a:hover{background:#394fa2; text-decoration:none;  }

#myCarousel .carousel-item h4{-webkit-animation-name:fadeInLeft; animation-name:fadeInLeft;} 
#myCarousel .carousel-item p{-webkit-animation-name:slideInRight; animation-name:slideInRight;} 
#myCarousel .carousel-item a{-webkit-animation-name:fadeInUp; animation-name:fadeInUp;}
#myCarousel .carousel-item .mask img{-webkit-animation-name:slideInRight; animation-name:slideInRight; display:block; height:auto; max-width:100%;}
#myCarousel h4, #myCarousel p, #myCarousel a, #myCarousel .carousel-item .mask img{-webkit-animation-duration: 1s;
    animation-duration: 1.2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
#myCarousel .container {max-width: 1430px;  }
#myCarousel .carousel-item{height:100%; min-height:500px; }
#myCarousel{position:relative; z-index:1; background:url(https://i.imgur.com/6axE29k.jpg) center center no-repeat; background-size:cover; }

.carousel-control-next, .carousel-control-prev{height:40px; width:40px; padding:12px; top:50%; bottom:auto; transform:translateY(-50%);  }






@supports (transform-style:preserve-3d) {
  .carousel-fade .carousel-item-left.active, .carousel-fade .carousel-item-next, .carousel-fade .carousel-item-prev, .carousel-fade .carousel-item-prev.active, .carousel-fade .carousel-item.active {
  -webkit-transform:translate3d(0, 0, 0);
  transform:translate3d(0, 0, 0)
  }
}


 
@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
}


.alumni-jacket
{
    background-image: url(https://alumni.sti.edu/img/DSC_0745-edit.jpg);
    background-position: center;
    background-size: cover;
}


.alumni-shirt
{
    background-image: url(https://alumni.sti.edu/img/banner1-poloshirt.jpg);
     background-position: center;
      background-size: cover;

}


.slider1 
{
    background-image: url(https://alumni.sti.edu/img/alumni-slider.jpg);
     background-position: center;
      background-size: cover;
}

.slider2 
{
    background-image: url(https://alumni.sti.edu/img/news/alumni-distinguished2019-thumbnail.jpg);
     background-position: center;
      background-size: cover;
}


h4 
{
    color:black !important;
}


.white-text
{
    color:white!important;
}

.black-text
{
    color:black !important;
}
.careertips
{
    padding:60px;

/*     background-image:url(https://alumni.sti.edu/img/careers.jpg);*/
     background-color: rgb(46, 46, 46);
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;

      color:#fff;
}
.featuredalumni
{
/*    background-color:#0763ae;*/

padding-bottom: 6rem;
background-image: linear-gradient(rgb(255, 255, 255), rgb(194, 240, 255));

     padding-top:80px;
      padding-bottom:80px;
}


.text-togray
{
  color:#6dabe6;
}

#partnerswrapper {
  display: flexbox;
  justify-content: center;
  align-content: center;
  margin:0 auto;
}

#partnerswrapper img {
  border:solid 1px #f1f1f1;
  margin:10px;
  padding:0px 20px 0px 20px;
  width:200px;
}

.news-text
{
padding: 35px;
}
.newsa
{
  padding-bottom: 45px;
}


.partnersfeatured
{
  margin:35px;
}

.navbar
{
  margin-bottom: -5px;
}

.followus
{
  padding:-100px;
}